* {
    font-family: 'Raleway', sans-serif; 
}

body {
    background-color: #B8CDF8;
}

.home-page {
    margin: -10px;
    width: 100%;
    padding: 30px;
    font-size: large;
    background-color: #228CD8;
    color: white;
    display: flex; 
    align-items: center;    
}

.head {
 
    color: white;
    text-decoration: none;
    font-size: larger;
 
}

.tabs {
    padding-left: 5vw;
    color: white;
    text-decoration: none;
    text-align: right;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

.home-page > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.github {
    width: 60px;
    height: 60px;
}

li {
    display: inline-block;
}
.mid-homepage {
    padding: 50px;
    text-align: center;
}

.selfie > img {
    height: 400px;
    width: 305px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.about-me {
    display: flex;
    align-items: center;
    background-color: #829CBC;
    padding: 20px;
    border-radius: 25px;
}

.info {
    text-align: center;
}

.garden-store {
    text-align: center;
    background-color: #1D3461;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    color: white;
}

.dog-adoption {
    text-align: center;
    background-color: #376996;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    color: white;
}

.pics > img {
    height: auto;
    width: 305px;
    border-radius: 25px;
}

.resume-header {
    text-align: center;
}

.whole-foods {
    margin: 30px;
}

.job-role {
    text-align: left;
    display: flex;
}

.derm {
    margin: 30px;
}

.education-info {
    text-align: left;
    margin: 30px;
}

@media (max-width: 576px) {
    body {}
}